<!DOCTYPE html>
<html>
<head>
<script src='/qr-scripts/qrcode.min.js'></script>
</head>
  <body>
    <input id="data" value=""/>
    <button id="generate-button">Genera</button>

    <canvas id="canvas"></canvas>

    <script src="javascripts/qr.js"></script>
  </body>
</html>